{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ with .Content }}
<div class="prose">{{ . }}</div>
{{ end }}
<ul class="post-list">
  {{ range .Pages }}
  <li>
    <h3 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    <div class="post-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format (i18n "date_format" | default "2006-01-02") }}</time>
      {{ range .Params.tags }}<a class="tag" href="{{ "tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
    </div>
  </li>
  {{ end }}
</ul>
{{ end }}
